@model Department

<div class="form-group">
    <label asp-for="Code"></label>
    <input class=" form-control" asp-for="Code" />
</div>
<div class="form-group">
    <label asp-for="Name"></label>
    <input class=" form-control" asp-for="Name" />
</div>
<div class="form-group">
    <label asp-for="CDate"></label>
    <input class=" form-control" asp-for="CDate" />
</div>