@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">

		<p>Please Check Your InBox</p>
		<br />
		<p> <a asp-action="Login">  Login </a></p>
	</div>
</div>