@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword" method="post">
			<div asp-validation-summary="All"></div>
			<input hidden asp-for="Email"/>
			<input hidden asp-for="Token"/>
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />
			<input class="text" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<br />

			<input type="submit" value="Change Password" />
		</form>
		<p> <a asp-action="Login"> Cancel </a></p>
	</div>
</div>